# Practica 1 - Pandas

In [3]:
import pandas as pd

In [59]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

## Ej 1: Muestra las primeras 25 filas. 

Resuelve este ejercicio de dos formas (o más).

In [ ]:
users.iloc[:25, :]

In [ ]:
users.loc[:25, :]

In [ ]:
users.head(25)

## Ej 2: Muestra las ultimas 15 filas

In [ ]:
users.tail(15)

## Ej 3: ¿Cuantas observaciones (o filas) hay en este dataframe?

Resuelve este ejercicio de dos formas (o más)

In [ ]:
users.info()
users.shape[0]

## Ej 4: ¿Cuantas columnas hay en este dataframe?

Resuelve este ejercicio de dos formas (o más)

In [ ]:
users.shape[1]
users.info()

## Ej 5: Obtén una lista con el nombre de las columnas del dataframe

In [ ]:
users.columns.values

for i in users.columns.values:
    print(i)

## Ej 6: Obten el indice del Dataframe

In [ ]:
users.index

## Ej 7: Muestra los tipos de datos de las columnas

Resuelve este ejercicio de dos formas (o más)

In [ ]:
users.dtypes
users.info()

## Ej 8: Obten todos los valores de la columna occupation

Resuelve este ejercicio de dos formas (o más)

In [ ]:
users.occupation

users['occupation']

## Ej 9: Obtén el número de ocupaciones diferentes que hay en el dataset y el número de usuarios por ocupación que hay en el dataframe

In [ ]:
users
users.occupation.describe
users.occupation.value_counts().count()
x = users.occupation.unique()

## Ej 10: Cual es la ocupación más frecuente?

In [ ]:
users.occupation.mode()
users.occupation.value_counts()

## Ej 11: Haz un resumen estadistico del dataset.

In [ ]:
users.describe(include="all")

## Ej 12: Calcula la media de edad de los usuarios por ocupación.

In [ ]:
users.age.mean()

## Ej 13: cual es la edad menos frecuente en el dataset?

In [ ]:
users.age.value_counts()
users_age = users.groupby("age").count()
users_age