# Occupation. Parte 2. Agrupación!

### Step 1. Importamos las librerías

In [1]:
import pandas as pd

In [2]:
import ssl # bypass web secure socket layer  
ssl._create_default_https_context = ssl._create_unverified_context

### Step 2. Importar el conjunto de datos de esta [dirección]
(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Asignarlo a una variable llamada usuarios.

In [3]:
usuarios = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')
usuarios

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Step 4. Descubrir cuál es la edad media por ocupación

In [10]:
usuarios.groupby('occupation') ['age'].mean().round(1)

occupation
administrator    38.7
artist           31.4
doctor           43.6
educator         42.0
engineer         36.4
entertainment    29.2
executive        38.7
healthcare       41.6
homemaker        32.6
lawyer           36.8
librarian        40.0
marketing        37.6
none             26.6
other            34.5
programmer       33.1
retired          63.1
salesman         35.7
scientist        35.5
student          22.1
technician       33.1
writer           36.3
Name: age, dtype: float64

### Step 5. Descubrir la proporción de hombres por ocupación y ordenarla de mayor a menor

In [13]:
usuarios.groupby(['occupation'])['gender'].value_counts(normalize=True).round(2)

occupation     gender
administrator  M         0.54
               F         0.46
artist         M         0.54
               F         0.46
doctor         M         1.00
educator       M         0.73
               F         0.27
engineer       M         0.97
               F         0.03
entertainment  M         0.89
               F         0.11
executive      M         0.91
               F         0.09
healthcare     F         0.69
               M         0.31
homemaker      F         0.86
               M         0.14
lawyer         M         0.83
               F         0.17
librarian      F         0.57
               M         0.43
marketing      M         0.62
               F         0.38
none           M         0.56
               F         0.44
other          M         0.66
               F         0.34
programmer     M         0.91
               F         0.09
retired        M         0.93
               F         0.07
salesman       M         0.75
               F         0.25
scientist      M         0.90
               F         0.10
student        M         0.69
               F         0.31
technician     M         0.96
               F         0.04
writer         M         0.58
               F         0.42
Name: proportion, dtype: float64

### Step 6. Para cada ocupación, calcula las edades mínima y máxima

In [14]:
usuarios.groupby(['occupation'])['age'].agg(['min','max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. Para cada combinación de ocupación y género, calcule la edad media

In [16]:
usuarios.groupby(['occupation'])['gender'].value_counts(normalize=True).round(2)

occupation     gender
administrator  M         0.54
               F         0.46
artist         M         0.54
               F         0.46
doctor         M         1.00
educator       M         0.73
               F         0.27
engineer       M         0.97
               F         0.03
entertainment  M         0.89
               F         0.11
executive      M         0.91
               F         0.09
healthcare     F         0.69
               M         0.31
homemaker      F         0.86
               M         0.14
lawyer         M         0.83
               F         0.17
librarian      F         0.57
               M         0.43
marketing      M         0.62
               F         0.38
none           M         0.56
               F         0.44
other          M         0.66
               F         0.34
programmer     M         0.91
               F         0.09
retired        M         0.93
               F         0.07
salesman       M         0.75
               F         0.25
scientist      M         0.90
               F         0.10
student        M         0.69
               F         0.31
technician     M         0.96
               F         0.04
writer         M         0.58
               F         0.42
Name: proportion, dtype: float64