# Ex1 - Filtrar y ordenar datos


### Paso 1. Importar las bibliotecas necesarias

In [1]:
import pandas as pd

### Paso 2. Importa el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y asígnalos a una variable llamada chipo.

In [2]:
chipo = pd.read_csv('/Users/miguelopez/Desktop/chipotle.csv', sep='\t')

In [3]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Paso 3. Nombre del producto de valor máximo

In [11]:
max(chipo.item_price)

'$9.39 '

In [28]:
max_value = chipo['item_price'].max()
max_product = chipo.loc[chipo['item_price'].idxmax(), 'item_name']
max_value

'$9.39 '

In [10]:
x = chipo.item_price[chipo.item_price == max(chipo.item_price)]
x

607     $9.39
1418    $9.39
1421    $9.39
1825    $9.39
1865    $9.39
2600    $9.39
2624    $9.39
3098    $9.39
3115    $9.39
3356    $9.39
4036    $9.39
4241    $9.39
4390    $9.39
4391    $9.39
4419    $9.39
4547    $9.39
4572    $9.39
Name: item_price, dtype: object

### Paso 4. ¿Cuántos productos cuestan más de 10 dólares?

In [4]:
import pandas as pd

In [9]:

chipo[chipo.item_price == max(chipo.item_price)][['item_name', 'item_price', 'quantity']].drop_duplicates()

                item_name item_price  quantity
607      Steak Salad Bowl     $9.39          1
1418  Barbacoa Salad Bowl     $9.39          1
1865  Carnitas Salad Bowl     $9.39          1

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

### Paso 5. ¿Cuál es el precio de cada artículo? Obtenga sólo item_name y unit_price

In [ ]:
chipo[['item_name', 'item_price']].sort_values(by='item_price', ascending=False)

### Paso 6. Ordenar por el nombre del artículo

In [ ]:
chipo.item_name.sort_values()

### Paso 7. ¿Cuál fue la cantidad del artículo más caro pedido? 2 formas

In [ ]:
chipo[chipo.quantity == chipo.quantity.max()]

### Paso 8. ¿Cuántas veces se pidió una Veggie Salad Bowl?

In [ ]:

chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

### Paso 9. ¿Cuántas veces pidió alguien más de un Canned Soda?

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()

In [ ]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

In [20]:
chipo.where(chipo.item_name == "Veggie Salad Bowl").groupby("item_name").sum()

,order_id,quantity,choice_description,item_price
item_name,,,,
Veggie Salad Bowl,17303.0,18.0,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25 $11.25 $11.25 $11.25 $8.75 $8.75 $11.25...

In [23]:
chipo.item_name.value_counts()["Veggie Salad Bowl"]

18

In [ ]:
chipo8 = chipo.groupby("item_name").sum()
chipo8.sort_values("quantity", ascending=False)